{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/quotes/quote_styles.css' %}">
{% endblock %}

{% block content %}
<div class="quote-container">

    {% block quote_content %}{% endblock %}

    <div class="menu">
        <button id="back-btn">
            ⟵ Back
        </button>
        <div class="flex-grow"></div>
        <a href="{% url 'home' %}" class="btn" id="home-btn">
            🏠 Home
        </a>
        <button id="save-btn" hx-post="{% url 'save_quote' new_quote.id %}" hx-include="#basic-content, #coverage-content" hx-target="#save-status">
            💾 Save
        </button>
        <div class="flex-grow"></div>
        <button id="next-btn">
            Next ⟶
        </button>
    </div>
    <div id="save-status"></div>
    <div class="progress-bar"></div>

</div>
{% endblock %}
