{% extends 'quotes/quote_base.html' %}

{% block quote_content %}


<div class="section-container">
    <input type="checkbox" id="basic-toggle" class="toggle-input" 
           hx-get="{% url 'view_basic' new_quote.id %}" 
           hx-trigger="change once"
           hx-target="#basic-content">
    <label class="section-title" for="basic-toggle">Basic Details</label>
    <div class="section-content">
        <div class="inner-content" id="basic-content"></div>
    </div>
</div>

<div class="section-container">
    <input type="checkbox" id="risk-toggle" class="toggle-input" 
           hx-get="{% url 'view_risk' %}"
           hx-trigger="change once"
           hx-target="#risk-content">
    <label class="section-title" for="risk-toggle">Risk Details</label>
    <div class="section-content">
        <div class="inner-content" id="risk-content"></div>
    </div>
</div>

<div class="section-container">
    <input type="checkbox" id="coverage-toggle" class="toggle-input" 
           hx-get="{% url 'view_coverage' new_coverage_group.id %}"
           hx-trigger="change once"
           hx-target="#coverage-content">
    <label class="section-title" for="coverage-toggle">Coverage Details</label>
    <div class="section-content">
        <div class="inner-content" id="coverage-content"></div>
    </div>
</div>


{% endblock %}