:root {
    --olive-green: #5a6c2d;
    --bronze: #b37d40;
    --background: #e9ece5;
    --dark-background: #d1d5cb;
    --light-olive: #879348;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    color: var(--olive-green);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.header, .footer {
    background-color: var(--dark-background);
    color: #FFF;
    padding: 20px 0;
}

.logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    flex: none;
}

.logo-container {
    justify-content: center;
    margin: 0;
    padding: 20px;
    display: flex;
}

.button-container {
    margin: 20px 0;
}

.action-button {
    background-color: var(--bronze);
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    outline: none;
    border-radius: 5px;
    margin: 5px 0;
}

.action-button:hover {
    background-color: darken(var(--bronze), 10%);
}

.risks-container, .quotes-container {
    margin-top: 20px;
}

.item {
    margin-bottom: 10px;
}
