
{% block content %}
    <h1>Add Risk</h1>
    <form action="{% url 'add_risk' %}" method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}     <!-- Render the form fields inside paragrah elements -->
        
        <button type="submit" 
                hx-post="{% url 'add_risk' %}" 
                hx-target="#addDelView-container" 
                hx-vals='{"action": "add"}'
                name="action"
                value="add">
            Add
        </button>
        <button type="submit" 
                hx-post="{% url 'add_risk' %}" 
                hx-target="#addDelView-container" 
                hx-vals='{"action": "cancel"}'
                name="action"
                value="cancel">
            Cancel
        </button>
    </form>
{% endblock %}
