{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}QuickInsure{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block additional_styles %}{% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>
        <div class="logo-container">
            <div class="logo">
                <img src="{% static 'images/brand-logo.png' %}" alt="QuickInsure Logo">
            </div>
            <nav>
                <!-- Navigation goes here -->
            </nav>
        </div>
    </header>
    
    <div class="container">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>
    
    <footer>
        <div class="container">
            <!-- Footer goes here -->
        </div>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.1.0"></script>
</body>
</html>