{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.username }}!</h2>

  <a class="action-button" href="{% url 'logout' %}">Logout</a>
  
  <div class="risks-container">
    <h2>Risks</h2>
    {% for risk in risks %}
      <div class="item">{{ risk.display }}</div>
    {% endfor %}
    <div class="button-container">
      <a class="action-button" href="{% url 'add_risk' %}">Add New Risk</a>
    </div>
  </div>

  <div class="quotes-container">
    <h2>Quotes</h2>
    {% for quote in quotes %}
      <div class="quote-item">
        <div class="quote-details">{{ quote.display }}</div>
        <a class="action-button" href="{% url 'resume_quote' quote.id %}">Resume</a>
      </div>
    {% endfor %}
    <div class="button-container">
      <a class="action-button" href="{% url 'add_quote' %}">Add New Quote</a>
    </div>
  </div>

  <!-- Add more navigation links as needed -->
{% endblock %}